html,
body {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.child {
  padding: 5px;
}

.child-one {
  background-color: rgb(116, 255, 116);

  position: absolute;
  bottom: 0px;
  right: 0px;
}

.child-two {
  background-color: rgb(248, 117, 117);
  position: absolute;
  top: 0px;
  right: 0px;
}

.child-three {
  background-color: rgb(255, 116, 232);
}
